@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("/subtle-prism.svg");
}
.dark body {
    background-image: url("/endless-constellation.svg");
}

[class*="fa-"] {
    margin-right: 5px;
    width: 20px;
}

@layer components {
    .section-header {
        @apply print:mb-1 font-semibold text-2xl mb-2
    }

    .section {
        @apply print:py-1 rounded-3xl border border-transparent bg-platinum dark:bg-black_olive px-4 py-3
    }
}
